<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Vegefoods </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/vegefoods/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/vegefoods/css/animate.css">

    <link rel="stylesheet" href="~/Content/vegefoods/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/vegefoods/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/vegefoods/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/vegefoods/css/aos.css">

    <link rel="stylesheet" href="~/Content/vegefoods/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/vegefoods/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/vegefoods/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Content/vegefoods/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/vegefoods/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/vegefoods/css/style.css">
    <style type="text/css">
        .scrollax-performance, .scrollax-performance *, .scrollax-performance *:before, .scrollax-performance *:after {
            pointer-events: none !important;
            -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
        }

        
    </style>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/38/11/intl/vi_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/38/11/intl/vi_ALL/util.js"></script>
</head>
<body class="goto-here" data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
    <div class="py-1 bg-primary">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">+ 03 444 72481</font></font></span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">cowsepnatural@email.com</font></font></span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giao hàng nhanh chóng, tiện lợi, hiện đại</font></font></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" >
        <div class="container">
            <a class="navbar-brand" href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sora Blog</font></font></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Chuyển đổi điều hướng thành">
                <span class="oi oi-menu"></span><font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Thực đơn
                    </font>
                </font>
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trang Chủ</font></font></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">cửa tiệm</font></font></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cửa hàng </font></font></a>
                            <a class="dropdown-item" href="wishlist.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Wishlist </font></font></a>
                            <font style="vertical-align: inherit;"><a class="dropdown-item" href="cart.html"><font style="vertical-align: inherit;">Giỏ hàng </font></a></font><a class="dropdown-item" href="product-single.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">một sản phẩm </font></font></a>
                            <font style="vertical-align: inherit;"><a class="dropdown-item" href="checkout.html"><font style="vertical-align: inherit;">Thanh toán</font></a></font><a class="dropdown-item" href="cart.html"><font style="vertical-align: inherit;"></font></a>
                            <a class="dropdown-item" href="checkout.html"><font style="vertical-align: inherit;"></font></a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="about.html" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trong khoảng</font></font></a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blog</font></font></a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiếp xúc</font></font></a></li>
                    <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[0]</font></font></a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    @RenderBody()
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Vegefoods</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Blog</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Journal</a></li>
                            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Help</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                <li><a href="#" class="py-2 d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">48 Bui Thi Xuan, 1st Distric, Ho Chi Minh City, Vietnam</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+03 444 72 481</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">sorablog.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Bản quyền ©
                            </font>
                        </font>
                        <script>document.write(new Date().getFullYear());</script><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2019 Tất cả các quyền | </font><font style="vertical-align: inherit;">Mẫu này được thực hiện với</font></font><i class="icon-heart color-danger" aria-hidden="true"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bởi </font></font><a href="https://colorlib.com" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Colorlib</font></font></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- loader -->
    <div id="ftco-loader" class="fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"></circle></svg></div>


    <script src="~/Content/vegefoods/js/jquery.min.js"></script>
    <script src="~/Content/vegefoods/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/vegefoods/js/popper.min.js"></script>
    <script src="~/Content/vegefoods/js/bootstrap.min.js"></script>
    <script src="~/Content/vegefoods/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/vegefoods/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/vegefoods/js/jquery.stellar.min.js"></script>
    <script src="~/Content/vegefoods/js/owl.carousel.min.js"></script>
    <script src="~/Content/vegefoods/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/vegefoods/js/aos.js"></script>
    <script src="~/Content/vegefoods/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/vegefoods/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/vegefoods/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
    <script src="~/Content/vegefoods/js/google-map.js"></script>
    <script src="~/Content/vegefoods/js/main.js"></script><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Dịch"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Văn bản gốc</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Đóng góp bản dịch hay hơn</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>


    <div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div>
</body>
</html>
