
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/my_layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(../../Content/upload/img/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
                        <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
                        <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
                        <p><a href="#" class="btn btn-primary">View Details</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(../../Content/upload/img/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                        <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
                        <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
                        <p><a href="#" class="btn btn-primary">View Details</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="center">
                        <h3 class="heading"><font style="text-align :center"><font style="text-align : center;">Miễn phí vận chuyển</font></font></h3>
                        <span><font style="text-align : center;"><font style="text-align : center;">Trên đơn hàng trên $ 100</font></font></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="center">
                        <h3 class="heading"><font style="text-align :center;"><font style="text-align : center;">Tươi ngon</font></font></h3>
                        <span><font style="text-align :center;"><font style="text-align : center;">Gói sản phẩm tốt</font></font></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="center">
                        <h3 class="heading"><font style="text-align: center;"><font style="text-align : center;">Chất lượng cao</font></font></h3>
                        <span><font style="text-align : center;"><font style="text-align: center;">Chất lượng sản phẩm</font></font></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="center">
                        <h3 class="heading"><font style="text-align : center;"><font style="text-align : center;">Hỗ trợ</font></font></h3>
                        <span><font style="text-align : center"><font style="text-align : center">Hỗ trợ 24/7</font></font></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex fadeInUp ftco-animated" style="background-image: url(../../Content/upload/img/img_nen/category.jpg);">
                            <div class="text text-center">
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rau</font></font></h2>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bảo vệ sức khỏe của mọi nhà</font></font></p>
                                <p><a href="#" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mua ngay</font></font></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end fadeInUp ftco-animated" style="background-image: url(../../Content/upload/img/img_nen/bg_1.jpg);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trái cây</font></font></a></h2>
                            </div>
                        </div>
                        <div class="category-wrap ftco-animate img d-flex align-items-end fadeInUp ftco-animated" style="background-image: url(../../Content/upload/img/img_nen/category-2.jpg);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rau</font></font></a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end fadeInUp ftco-animated" style="background-image: url(../../Content/upload/img/img_nen/category-3.jpg);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nước ép</font></font></a></h2>
                    </div>
                </div>
                <div class="category-wrap ftco-animate img d-flex align-items-end fadeInUp ftco-animated" style="background-image: url(../../Content/upload/img/img_nen/category-4.jpg);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Khô</font></font></a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <span class="subheading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sản phẩm nổi bật</font></font></span>
                <h2 class="mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sản phẩm của chúng tôi</font></font></h2>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xa xa, đằng sau những ngọn núi từ, xa các quốc gia Vokalia và Consonantia</font></font></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            @Html.Action("get_monan", "trangchu")
            @Html.Action("get_thucuong", "trangchu")
        </div>
    </div>
</section>
<section ></section>
<section class="ftco-section img" style="background-image: url(../../Content/upload/img/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate fadeInUp ftco-animated">
                <span class="subheading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giá tốt nhất cho bạn</font></font></span>
                <h2 class="mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giao dịch trong ngày</font></font></h2>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xa xa, đằng sau những ngọn núi từ, xa các quốc gia Vokalia và Consonantia</font></font></p>
                <h3><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rau bina</font></font></a></h3>
                <span class="price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 10 </font></font><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bây giờ chỉ $ 5</font></font></a></span>
                <div id="timer" class="d-flex mt-5">
                    <div class="time" id="days">40<span>Days</span></div>
                    <div class="time pl-3" id="hours">06<span>Hours</span></div>
                    <div class="time pl-3" id="minutes">04<span>Minutes</span></div>
                    <div class="time pl-3" id="seconds">54<span>Seconds</span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lời khai</font></font></span>
                <h2 class="mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Khách hàng hài lòng của chúng tôi nói</font></font></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel owl-loaded owl-drag" >





                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transition: all 0s ease 0s; width: 3960px; transform: translate3d(-1080px, 0px, 0px);">
                            <div class="owl-item cloned" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(~/Content/upload/img/images/person_3.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> xa các quốc gia Vokalia và Consonantia, có những văn bản mù quáng.</font></font></p>
                                            <p class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garreth Smith</font></font></p>
                                            <span class="position"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thiết kế giao diện người dùng</font></font></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_2.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xa xa, đằng sau những ngọn núi chữ, xa các quốc gia Vokalia và Consonantia, có những văn bản mù quáng.</font></font></p>
                                            <p class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garreth Smith</font></font></p>
                                            <span class="position"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhà phát triển web</font></font></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_1.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xa xa, đằng sau những ngọn núi chữ, xa các quốc gia Vokalia và Consonantia, có những văn bản mù quáng.</font></font></p>
                                            <p class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garreth Smith</font></font></p>
                                            <span class="position"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phân tích hệ thống</font></font></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item active center" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_4.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                            <p class="name">Garreth Smith</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_2.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                            <p class="name">Garreth Smith</p>
                                            <span class="position">Interface Designer</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_3.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                            <p class="name">Garreth Smith</p>
                                            <span class="position">UI Designer</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_1.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                            <p class="name">Garreth Smith</p>
                                            <span class="position">Web Developer</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_4.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                            <p class="name">Garreth Smith</p>
                                            <span class="position">System Analyst</span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_3.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xa xa, đằng sau những ngọn núi chữ, xa các quốc gia Vokalia và Consonantia, có những văn bản mù quáng.</font></font></p>
                                            <p class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garreth Smith</font></font></p>
                                            <span class="position"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giám đốc tiếp thị</font></font></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_2.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xa xa, đằng sau những ngọn núi chữ, xa các quốc gia Vokalia và Consonantia, có những văn bản mù quáng.</font></font></p>
                                            <p class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garreth Smith</font></font></p>
                                            <span class="position"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thiết kế giao diện</font></font></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 330px; margin-right: 30px;">
                                <div class="item">
                                    <div class="testimony-wrap p-4 pb-5">
                                        <div class="user-img mb-5" style="background-image: url(../../Content/upload/img/images/person_3.jpg)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text text-center">
                                            <p class="mb-5 pl-4 line"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xa xa, đằng sau những ngọn núi chữ, xa các quốc gia Vokalia và Consonantia, có những văn bản mù quáng.</font></font></p>
                                            <p class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Garreth Smith</font></font></p>
                                            <span class="position"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thiết kế giao diện người dùng</font></font></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><button role="presentation" class="owl-prev"><span class="ion-ios-arrow-back"></span></button><button role="presentation" class="owl-next"><span class="ion-ios-arrow-forward"></span></button></div><div class="owl-dots"><button class="owl-dot active"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="ftco-section ftco-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="~/Content/upload/img/images/partner-1.png" class="img-fluid" alt="Mẫu Colorlib"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="~/Content/upload/img/images/partner-2.png" class="img-fluid" alt="Mẫu Colorlib"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="~/Content/upload/img/images/partner-3.png" class="img-fluid" alt="Mẫu Colorlib"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="~/Content/upload/img/images/partner-4.png" class="img-fluid" alt="Mẫu Colorlib"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="~/Content/upload/img/images/partner-5.png" class="img-fluid" alt="Mẫu Colorlib"></a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>